/* theme.css */

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --tertiary-color: #ffcc00;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --medium-color: #6c757d;
    --dark-color: #343a40;
    
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 16px;
    
    --ion-padding: 16px;
    --ion-margin: 8px;
  }
  